
.container {
  font-family: sans-serif;
  font-weight: 100;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.page-header {
  text-align: center;
  padding-bottom: 15px;
}

.flex-container {
  display: flex;
}

.spaced-evenly {
  justify-content: space-evenly;
}

.days-button {
  width: 90px;
  height: 90px;
}

.button-border {
  border: solid 2px black;
}

.add-entry {
  height: 30px;
  width: 150px;
  margin: 30px 0;
}

.background-white {
  background-color: white;
}

.justify-center {
  justify-content: center;
}

.box-shadow {
  box-shadow: 2px 2px 0 0 #000;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}
